VITE_SICEI_API_ORIGIN="http://localhost:8000"

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USERNAME=tu-email@gmail.com
EMAIL_PASSWORD=tu-app-password  
EMAIL_FROM=tu-email@gmail.com
EMAIL_FROM_NAME=Sistema SICEI


TWILIO_ACCOUNT_SID=tu-account-sid
TWILIO_AUTH_TOKEN=tu-auth-token
TWILIO_PHONE_NUMBER=+1234567890


SCHEDULER_ENABLED=true
SCHEDULER_INTERVAL_MINUTES=5